.QRCode {
  canvas {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 20px 0;
  }
}

.actionListGrid {
  display: grid;
  grid-template-columns: auto 50rem;
  margin-bottom: 5rem;

  .actionListTitle {
    h4 {
      font-weight: 100;
      font-size: 25px;
      letter-spacing: 2px;
    }
  }

  .actionListContent {
    hr {
      border-bottom: 2px solid black;
    }

    .actionListContentFlex {
      .actionListContentTextParent {
        list-style-type: none;

        &:last-child {
          border-bottom: 2px solid black;
        }

        .actionListContentTextChild {
          position: relative;
          width: 100%;
          display: inline-flex;
          flex-direction: row;
          align-items: baseline;
          margin-bottom: 5rem;

          .numberLi {
            color: #aeaeae;
            font-size: 10rem;
          }
          img {
            width: 12rem;
          }

          span {
            margin-left: 5rem;

            * {
              margin-bottom: 0.5rem;
              line-height: 1.5rem;
            }
            li {
              margin-left: 1rem;
            }
            em {
              color: #0b405d;
            }

            .headStaticText,
            .bodyDynamicText {
              display: inline-block;
            }
          }

          .buttonOpen {
            content: "";
            position: absolute;
            right: 0;
            top: 25px;
            width: 30px;
            height: 5px;
            background: #aeaeae;
            border: none;
          }
        }
      }
    }

    .openTextAnim {
      animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    @keyframes slide-bottom {
      0% {
        transform: translateY(-10px);
        opacity: 1%;
      }
      100% {
        transform: translateY(10px);
        opacity: 100%;
      }
    }
  }
}
