.QRCode{

    canvas{
        border: 1px solid black;
        border-radius: 15px;
        padding: 10px;
        margin: 20px 0;
    }
    
}

.actionListGrid{
    display: grid;
    grid-template-columns: 85vh 1fr;
    margin-bottom: 5rem;

    .actionListTitle{

        h4{
            font-weight: 100;
            font-size: 25px;
            letter-spacing: 2px;
        }
    }

    .actionListContent{

        hr{
            border-bottom: 2px solid black
        }

        .actionListContentFlex{

            .actionListContentTextParent{
                list-style-type: none;

                &:last-child{
                    border-bottom: 2px solid black
                }

                .actionListContentTextChild{
                    position: relative;
                    width: 100%;
                    display: inline-flex;
                    flex-direction: row;
                    align-items: baseline;
                    margin-bottom: 10vh;

                    .numberLi {
                        color: #aeaeae;
                        font-size: 30vh;
                    }
                    img{
                        width: 26vh;
                    }

                    span{

                        margin-left: 10vh;

                        *{
                            margin-bottom: 1vh;
                            line-height: 4vh;
                        }
                        li{
                            margin-left: 3vh;
                        }
                        em{
                            color:#0b405d
                        }

                        .headStaticText, .bodyDynamicText{
                            display: inline-block;
                        }
                    }

                    .buttonOpen{
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 25px;
                        width: 30px;
                        height: 5px;
                        background: #aeaeae;
                        border: none;
                    }
                }
            }
        }

  


        .openTextAnim{
            animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

        @keyframes slide-bottom {
            0% {
              transform: translateY(-10px);
              opacity: 1%;
              
            }
            100% {
              transform: translateY(10px);
              opacity: 100%;
            }
          }
    }
}