.creativeSpaceEquipmentWrapper{
    margin-bottom: 15rem;
    background: url('../../../assets/equipmentBackground.svg') no-repeat;
    background-size: 100%;
    color: white;

    h1{
        margin-left: 5rem;
    }

    .creativeSpaceEquipmentTextGrid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 8rem 8rem 8rem 1fr;
        row-gap: 2.5rem;

        line-height: 1.3rem;
        font-size: 17px;

        .el_1{
            display: flex;
            justify-content: center;
            grid-column: 1 / 3;
            margin-right: 3rem;
        }

        .el_2{
            display: flex;
            align-items: end;
            grid-row: -4 / -2;
            grid-column-start: 2;
        }

        .el_3 {
            grid-column-start: 3;
            grid-row-start: -4;
            grid-row: -4 / -2;
            display: flex;
            align-items: end;
        }
    }
}