.otherZoneTitlesContainer {
  margin-bottom: 3rem;
  position: relative;

  &::after{
    content: "";
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    z-index: -1;
    transform: translate(-25%);
  }

  .otherZoneTitles {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 0;
    color: #fff;

    h1 {
      font-weight: 500;
      letter-spacing: 0.5rem;
    }
  }
}
