$bottomMargin: 4.5px;

.otherZoneContent {
  display: flex;
  column-gap: 7.5rem;
  margin-bottom: 3rem;

  .contentInformation {
    width: 50%;

    .contentInfoTitle {
      display: flex;
      flex-wrap: nowrap;

      h2 {
        margin-top: -1rem;
        margin-right: 1rem;

        font-size: 4rem;
        font-weight: 100;
      }
    }

    p {
      margin-bottom: $bottomMargin;
      line-height: 1.5rem;
    }
  }

  .contentPhotoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    img {
      width: 100%;
    }
  }
}
