header {
  margin-bottom: 5rem;

  .headerBackground {
    position: relative;

    video {
      width: 100%;
      transform: scale(121.5%, 105%);

      &::after {
        content: "";
        background: #aeaeae;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }

    a,
    .numberPhone,
    .headerBottom {
      color: white;
    }
  }

  .headerTop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    margin: 2.188rem 1.563rem 0 1.25rem;
    justify-content: space-around;
    align-items: center;
    z-index: 50;

    .headerTopBackground {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.575);
      width: 100%;
      height: 210%;
      top: -2.5rem;
      left: 0;
      z-index: -1;
    }

    img {
      max-width: 10rem;
    }

    ul {
      display: flex;
      list-style-type: none;

      li {
        margin-right: 2rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .headerBottom {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 2.5rem;
    left: 3.5rem;

    .headerTitleLow {
      text-align: right;
      font-size: 1.3rem;
      font-weight: 100;
    }
    .headerTitleBig {
      font-size: 5rem;
      font-weight: 100;
    }

    .headerButtonReserv {
      padding-left: 20rem;

      a {
        position: relative;
        font-size: 1.063rem;

        &::before {
          content: "";
          position: absolute;
          top: 0.5rem;
          left: 0;
          width: 100%;
          height: 70%;

          background-color: #ffffff1a;
          opacity: 30%;
          border-radius: 2.5rem;
          border: 2px solid white;
        }
        padding: 1.5rem 5rem;
      }
    }
  }
}
