@import url('https://fonts.googleapis.com/css2?family=Carlito&display=swap');

$margin_wrap: 7vh;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Carlito', sans-serif;
}

body{
  background: white;
  overflow-x: hidden;

  a{
    text-decoration: none;
    
  }

  h1{
    font-size: 7rem;
    font-weight: 100;
  }

  h5{
    font-weight: 100;
    font-size: 3vh;

  }

  section{
    margin: 0 $margin_wrap;
  }

  .hr_black{
    border: 1px solid #000;
  }
}