.other_zone-titles-container{
    background: #000;
    margin-bottom: 3rem;

    .other_zone-titles {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        padding: 2rem 0;
        color: #fff;

        h1{
            font-weight: 500;
            letter-spacing: 1vh;
        }
    }
    
    
}